<div class="row">
  <div class="col-md-6">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="title">Title</label>
        <input formControlName="title" name="title" id="title" type="text" class="form-control" >
        <div class="alert alert-danger" *ngIf="title.touched && title.invalid">Title is required.</div>
      </div>
      <div class="form-group">
        <label for="price">Price</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">$</span>
          </div>
          <input id="price" formControlName="price" name="price" type="number" class="form-control">
        </div>
        <div class="alert alert-danger" *ngIf="price.touched && price.invalid">
          <div *ngIf="price.errors.required">Price is required.</div>
          <div *ngIf="price.errors.canNotSmallerThanZero">Price should be 0 or higher</div>
        </div>

      </div>
      <div class="form-group">
        <label for="category">Category</label>
        <select name="category" id="category" formControlName="category" class="form-control" >
          <option value=""></option>
          <option *ngFor="let c of category$ | async" [value]="c.key">{{c.name}}</option>
        </select>
        <div class="alert alert-danger" *ngIf="category.touched && category.invalid">Category is required.</div>
      </div>
      <div class="form-group">
        <label for="imageUrl">Image URL</label>
        <input id="imageUrl" type="text" formControlName="imageUrl" name="imageUrl" class="form-control">
      </div>
      <div class="alert alert-danger" *ngIf="imageUrl.touched && imageUrl.invalid">
        <div *ngIf="imageUrl.errors.required">Image URL is required.</div>
        <div *ngIf="imageUrl.errors.pattern">Please enter a valid URL</div>
      </div>
      <button class="btn btn-primary" [disabled]="form.invalid">Save</button>
      <button class="btn btn-danger deleteButton" type="button" *ngIf="id" (click)="onDelete()">Delete</button>
    </form>
  </div>
  <div class="col-md-6">
    <app-product-card [product]="form.value" [showAction]="false"></app-product-card>
  </div>
</div>


