
<div class="row">
  <div class="col-3">
    <div class="list-group">
      <a [routerLink]="['/']" class="list-group-item list-group-item-action" [class.active]="!category">All Categories</a>
      <a class="list-group-item list-group-item-action" [routerLink]="['/']" [queryParams]="{category: c.key}" [class.active]="category === c.key" *ngFor="let c of categories$ | async">
        {{c.name}}
      </a>
    </div>
  </div>
  <div class="col">
    <div class="row">
      <div class="col-lg-4 col-md-6" *ngFor="let p of filterProducts">
        <div class="card">
          <img [src]="p.imageUrl" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">{{p.title}}</h5>
            <p class="card-text">{{p.price | currency}}</p>
            <a href="#" class="btn btn-primary">Add to Cart</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



